name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Install and Build
        run: |
          npm ci
          npm run build

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A679FE05EC2E40B5AA8F0B4D9345AD23 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_6FAB4B0DCF2A4F24AF8372599302D88B }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6EAD6B2768BC42E6B371E4F666DE2064 }}

      - name: Deploy to Azure Static Web Apps
        run: |
          az staticwebapp deploy --name vibing101 --resource-group Vibing101_group --source ./dist --no-wait
