name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'

      - name: Install and Build
        run: |
          npm ci
          npm run build

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: bb65c607-5097-4ac5-8ad9-b8fbceec3609
          tenant-id: f33d7d7f-d7a8-49c9-9dfe-af8c9ca30123
          subscription-id: 4b2df633-d9f8-4261-adf9-226dd6f19033

      - name: Deploy to Azure Static Web Apps
        run: |
          az staticwebapp deploy --name vibing101 --resource-group Vibing101_group --source ./dist --no-wait
